<div class='header'>
  <h1>Waiter Availability App</h1>
  <div class='profile'>
    <p><button class='button'><span><a href="https://dyllon21.github.io/portfolio/" target="_blank"><em><b>My</b></em> <em><b>Profile</b></em></span></buttton></a>
    </div>
  <a href="/days"><b><em>available</em> <em>waiters</em></b></a>
</div>
<div class="success">
    {{messages.success}}
</div>
<br>
<br>  <b>{{username}}</b>
<form action="" method='post'>
  <br>
  <label><input type="checkbox" name="day" value="Monday">MONDAY</label>
    <label><input type="checkbox" name="day" value="Tuesday">TUESDAY</label>
    <label><input type="checkbox" name="day" value="Wednesday">WEDNESDAY</label>
    <label><input type="checkbox" name="day" value="Thursday">THURSDAY</label>
    <label><input type="checkbox" name="day" value="Friday">FRIDAY</label>
    <label><input type="checkbox" name="day" value="Saturday">SATURDAY</label>
    <label><input type="checkbox" name="day" value="Sunday">SUNDAY</label><br><br>

  <button class='button'>
    <span>Submit</span></button>
      </form>

      <br><br>
      <div class="output">
        <p>
          <h1 class="">{{name}}</h1>
          {{#each day}}
            {{this}}
          {{/each}}
          <br> {{message}}
        </p>
      </div>
