<div class='header'>
  <h1>Waiter Availability App</h1>
  <a href="/days"><b>available waiters</b></a>
</div>
<br>
<br> <b>{{username}}</b> <b>{{name}}</b>
<form id="checkForm" method='post' action="" onsubmit='return is_checked()'>
  <br>
  <div class="checkBox">
    <label><input type="checkbox" name="day" value="Monday" id='MONDAY'>MONDAY</label>
    <label><input type="checkbox" name="day" value="Tuesday" id='TUESDAY'> TUESDAY</label>
    <label><input type="checkbox" name="day" value="Wednesday" id='WEDNESDAY' > WEDNESDAY</label>
    <label><input type="checkbox" name="day" value="Thursday" id='THURSDAY'> THURSDAY</label>
    <label><input type="checkbox" name="day" value="Friday" id='FRIDAY'>FRIDAY</label>
    <label><input type="checkbox" name="day" value="Saturday" id='SATURDAY'> SATURDAY</label>
    <label><input type="checkbox" name="day" value="Sunday" id='SUNDAY'> SUNDAY</label><br><br>
    <!-- <input type='submit' name='submit' value='SUBMIT'> -->
  </div>
  <button class='button'>
    <span>Submit</span></button>

</form>
<br><br>
<div class="output">
  <p>
    <h1 class="">{{name}}</h1>
    {{#each day}}
      {{this}}
    {{/each}}
    <br> {{message}}
  </p>
</div>
